<!DOCTYPE html>
<html>
<head>
	<title>PSPM</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="col-md-5">
		<form>
			<h3>Masukkan Kode Data Yang Ingin Di Cari</h3>
			<div class="form-group">
				<label>Program</label>
				<select> <option></option> </select>
			</div>

			<div class="form-group">
				<label>Kegiatan</label>
				<select> <option></option> </select>
			</div>

			<div class="form-group">
				<label>Output</label>
				<select> <option></option> </select>
			</div>

			<div class="form-group">
				<label>Komponen</label>
				<select> <option></option> </select>
			</div>
			
			<div class="form-group">
				<label>Sub Komponen</label>
				<select> <option></option> </select>
			</div>
			
			<div class="form-group">
				<button> Show </button>
			</div>
			
			<h3>Data ... </h3>
			
			<div class="form-group">
				
			</div>

		</form>
	</div>
</div>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>