!DOCTYPE html>
<html>
<head>
	<title>PSPM</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="col-md-5">
		<form>
			<h3>Input Data Kuota Pegawai</h3>
			<div class="form-group">
				<label>Nama</label>
				<input type="" name="nama" class="form-control">
			</div>

			<div class="form-group">
				<label>NIP</label>
				<input type="" name="nip" class="form-control">
			</div>

			<div class="form-group">
				<label>Pangkat</label>
				<input type="" name="pangkat" class="form-control">
			</div>

			<div class="form-group">
				<label>Golongan</label>
				<select> 
					<option>I a</option>
					<option>I b</option>
					<option>I c</option>
					<option>I d</option>
					<option>I e</option>
					<option>II a</option>
					<option>II b</option>
					<option>II c</option>
					<option>II d</option>
					<option>II e</option>
					<option>III a</option>
					<option>III b</option>
					<option>III c</option>
					<option>III d</option>
					<option>III d</option>
					<option>III e</option>
					<option>IV a</option>
					<option>IV b</option>
					<option>IV c</option>
					<option>IV d</option>
					<option>IV e</option>
				</select> 
			</div>

			<div class="form-group">
				<label>Jabatan</label>
				<input type="" name="jabatan" class="form-control">
			</div>

			<div class="form-group">
				<label>Wilayah Tugas</label>
				<input type="" name="wilayah" class="form-control">
			</div>

			<div class="form-group">
				<label>Tempat Lahir</label>
				<input type="" name="tempat" class="form-control">
			</div>

			<div class="form-group">
				<label>Tanggal Lahir</label>
				<input type="" name="tanggal" class="form-control">
			</div>

			<div class="form-group">
				<label>Angkutan</label>
				<input type="" name="angkutan" class="form-control">
			</div>

			<div class="form-group">
				<label>User</label>
				<input type="" name="user" class="form-control">
			</div> 

			<div class="form-group">
				<label>Password</label>
				<input type="" name="password" class="form-control">
			</div>

			<div class="form-group">
				<button> Save</button>	
		</form>
	</div>
</div>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>