<!DOCTYPE html>
<html>
<head>
	<title>PSPM</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="col-md-5">
		<form>
			<h3>Edit Data Pekerjaan Pegawai</h3>
			<div class="form-group">
				<label>Program</label>
				<label> <option></option> </label>
			</div>

			<div class="form-group">
				<label>Kegiatan</label>
				<label> <option></option> </label>
			</div>

			<div class="form-group">
				<label>Output</label>
				<label> <option></option> </label>
			</div>

			<div class="form-group">
				<label>Komponen</label>
				<label> <option></option> </label>
			</div>
			
			<div class="form-group">
				<label>Sub Komponen</label>
				<label> <option></option> </label>
			</div>
			
			<div class="form-group">
				<label>Nama Pegawai</label>
				<label> <option></option> </label>
			</div>
			
			<div class="form-group">
				<label>Kuota</label>
				<input type="" name="kuota" class="form-control">
			</div>
			
			<div class="form-group">
				<button>Save</button>
			</div>

		</form>
	</div>
</div>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>