<!DOCTYPE html>
<html>
<head>
	<title>PSPM</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="col-md-5">
		<form>
			<h3>Input Tanda Tangan Berwenang</h3>
			<div class="form-group">
				<label>Nama</label>
				<input type="" name="nama" class="form-control">
			</div>

			<div class="form-group">
				<label>NIP</label>
				<input type="" name="nip" class="form-control">
			</div>

			<div class="form-group">
				<label>Jabatan</label>
				<input type="" name="jabatan" class="form-control">
			</div>

			<div class="form-group">
				<button> Save</button>	
		</form>
	</div>
</div>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>